version: '3.8'
services:
  db:
    image: postgres:15-alpine
    container_name: seatguard-db
    ports:
      - "5440:5432"
    environment:
      POSTGRES_DB: seatguard
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
